*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}


body{
    background-color: rgb(17, 17, 17);
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
}

@mixin flex-coloumn($gap:0rem){
    display: flex;
    flex-direction: column;
    gap:$gap
}

section{
    max-width: 2000px;
}

main{
    width: 100%;
    @include flex-coloumn(0rem);
    align-items: center;

    section.view1{
        width: 100%;
        @include flex-coloumn(1rem);
        padding: 1rem;

        .top{
            width: 100%;
            

            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom{
            @include flex-coloumn(3rem);
            padding: 1.5rem;
            border-radius: 0.7rem;
            background-color:#292929;

            .text{
                @include flex-coloumn(0.7rem);

                h1{
                    font-weight: 200;
                    font-size: 2.6rem;
                    text-transform: uppercase;
                }

                p{
                    font-weight: 100;
                    font-size: 1.4rem;
                    opacity: 0.6;
                    line-height: 1.7;
                }
                button{
                    width: fit-content;
                    border: none;
                    padding: 0.7rem;
                    border-radius: 0.5rem;
                    outline: none;
                }
            }
        }
    }

    section.view2{
        @include flex-coloumn(2.5rem);
        width: 100%;
        padding: 1rem;

        .top,.bottom{
            width: 100%;
            display: flex;
            justify-content: space-around;

            .element{
                text-align: center;
                small{
                    opacity: 0.6;
                }
                @include flex-coloumn(0.3rem);
                h2{

                    font-size: 2rem;
                    font-weight: 300;
                }
            }
        }
    }
    section.view3{
        width: 100%;
        @include flex-coloumn(1rem);
        padding: 1rem;
        

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }
        .bottom{
            @include flex-coloumn(3rem);
            padding: 1.5rem;
            border-radius: 0.7rem;
            background-color:#292929;

            .text{
                @include flex-coloumn(0.7rem);

                h1{
                    font-weight: 200;
                    font-size: 2.6rem;
                    text-transform: uppercase;
                }

                p{
                    font-weight: 100;
                    font-size: 1.4rem;
                    opacity: 0.6;
                    line-height: 1.7;
                }
                button{
                    width: fit-content;
                    border: none;
                    padding: 0.7rem;
                    border-radius: 0.5rem;
                    outline: none;
                }
            }
        }
    }
    section.view4{
        @include flex-coloumn(1rem);
        width: 100%;
        padding: 1rem;

        .card{
            border-radius: 0.7rem;
            width: 100%;
            background-image: url(https://cdn.prod.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
            background-size: cover;
            aspect-ratio: 1/1;

            @include flex-coloumn(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,.bottom{
                background-color: rgba(206, 206, 206, 0.383);
                backdrop-filter: blur(5px);
                border: 0.5px solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top{
                display: flex;
                gap: 0.7rem;
                justify-content: flex-end;
            }
            .icon{
                width: fit-content;
                border-radius: 50%;
            }
            .bottom{
                display: flex;
                justify-content: space-between;
                padding: 1rem 1rem;
            }

        }
    }
}


@media (min-width:1600px){
    main{
        section.view1{
        flex-direction: row;
        padding: 1rem 1rem;

        .top,.bottom{
            width: 50%;
        }

        .bottom{
            justify-content: space-between;
            padding: 3rem;

            .text{

                gap: 1.5rem;

                h1{
                    font-size: 5rem;
                }
                p{
                    width: 80%;
                    font-size: 1.5rem;
                }
            }
        }
    }

        section.view2{
            flex-direction: row;
            padding: 1rem 1rem;
        }

        section.view3{
            flex-direction: row-reverse;
            padding: 1rem 1rem;

            .top,.bottom{
                width: 50%;
            }

            .bottom{
                justify-content: space-between;
                padding: 3rem;

                

                .paragraphs{
                    display: flex;
                    gap: 2rem;

                    p{
                        font-size: 1rem;
                    }
                }
            }
        }

        section.view4{
            flex-direction: row;
            padding: 1rem 4rem;

            .card{
                width: 30%;
                aspect-ratio: 1/1.2;
            }
        }
    }
}